In [6]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [7]:
data.shape

(1306122, 3)

In [8]:
data.target.value_counts()

0    1225312
1      80810
Name: target, dtype: int64

In [9]:
#ratio of insincere/sincere
80810/1306122

0.06187017751787352

In [17]:
#question examples and targets
#target 0=sincere, 1 = insincere
import random
x = 0
a = []
while x < 7:
    x = x+1
    a.append(random.randrange(0,len(data)-1,1))
for i in a:
    print(data.question_text[i],'->', data.target[i])

My cousin says she loves me and wants to marry me. Our families are over a dispute and so I keep avoiding her. Is that right? What should I do? -> 1
Whats the most common pay for a newly joining fresher in IBM GBS? -> 0
What are the features of CommentSafe WordPress Plugin? -> 0
Who is your favorite heroine in Chinese mythology? -> 0
What's the worst code you've seen a pair of programmers write (using pair programming)? -> 0
What does PQWL/4/PQ stand for in booking Stand for? -> 0
When is Rick and Morty season 3 coming? -> 0

# Data is clean, but too big

However, with 1306122 entries, it is too big for reasonable use of sklearn algorithms on my laptop. So, I am going to take randomly chosen 200k rows for my training dataset, and 20k for test dataset.

In [18]:
from sklearn.utils import shuffle
dataShuffled = shuffle(data)

In [19]:
dataShuffled.head()

,qid,question_text,target
1230084,f10da363cb457e4c60c3,Is there any way I can play videos from Google...,0
1236209,f242c600958872ff5b2f,How do I make it say a certain date on ’their ...,0
1084571,d48b89e2d8713c72c1cb,Which is the best company for regular rolled o...,0
598192,752aba52e05a2c7e7f46,How can a Nepali worker from Malaysia go to Si...,0
864468,a9623a55b06591fb6568,What does it mean when a girl challenges you?,0

In [20]:
dataReducedTrain = dataShuffled.iloc[0:200000, :]

In [21]:
dataReducedTrain.shape

(200000, 3)

In [22]:
dataReducedTrain.target.value_counts()

0    187780
1     12220
Name: target, dtype: int64

In [23]:
#ratio - similar as in original
12292/187708

0.06548468898501929

In [24]:
dataReducedTest = dataShuffled.iloc[200000:220000]

In [25]:
dataReducedTest.shape

(20000, 3)

In [26]:
dataReducedTest.target.value_counts()

0    18711
1     1289
Name: target, dtype: int64

In [27]:
#ratio - ok
1209/18791

0.06433931137246554

# Saving datasets

In [28]:
dataReducedTrain.to_pickle('trainReduced')

In [29]:
dataReducedTest.to_pickle('testReduced')